<ion-app>
  <!-- <ion-content padding="true" *ngIf="!session && !isUser">
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input
            autocomplete="off"
            type="text"
            name="username"
            [(ngModel)]="postData.username"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input
            autocomplete="off"
            type="password"
            name="password"
            [(ngModel)]="postData.password"
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button
        expand="block"
        share="round"
        color="success"
        (click)="loginAction()"
        >Login</ion-button
      >
    </form>
  </ion-content> -->
  <ion-content class="ion-padding" *ngIf="!session">
    <ion-button expand="block" (click)="makeCall()">Connect</ion-button>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button size="small" color="danger" (click)="Logout()">
        <ion-icon name="power"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

  <ion-content [scrollEvents]="true" *ngIf="session">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div *ngIf="publisher" class="stream-container">
            <user-video [streamManager]="publisher"></user-video>
          </div>
          <!-- <ion-label>Video On-Off</ion-label> -->
          <!-- <ion-toggle color="primary"  (click)="toggleVideo()"></ion-toggle> -->
          <div style="display: flex; position: absolute; top: 250px;">
            <div>
              <ion-fab-button
                size="small"
                color="secondory"
                (click)="toggleVideo()"
              >
                <ion-icon name="videocam"></ion-icon>
              </ion-fab-button>
            </div>
            <div style="margin-left: 20px;">
              <ion-fab-button
                size="small"
                color="secondory"
                *ngIf="!audioMute"
                (click)="toggleAudioMute()"
              >
                <ion-icon name="mic"></ion-icon>
              </ion-fab-button>
              <ion-fab-button
                size="small"
                *ngIf="audioMute"
                color="secondory"
                (click)="toggleAudioUnmute()"
              >
                <ion-icon name="mic-off"></ion-icon>
              </ion-fab-button>
            </div>
          </div>
          <!-- <ion-label>Audio Mute-unMute</ion-label> -->
          <!-- <ion-toggle color="primary"  (click)="toggleAudio()"></ion-toggle> -->

          <!-- <ion-button (click)="shareScreen()">Share screen</ion-button>  -->
        </ion-col>
        <ion-col size="6" *ngFor="let sub of subscribers">
          <div class="stream-container">
            <user-video [streamManager]="sub"></user-video>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button size="small" color="danger" (click)="Logout()">
        <ion-icon name="power"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
</ion-app>
